.btn {
	--xs: 2px; /* Extra Small */
	--sm: 4px; /* Small */
	--md: 8px; /* Medium */
	--lg: 16px; /* Large */
	--xl: 32px; /* Extra Large */
	--xxl: 64px; /* 2x Extra Large */

	position: relative;
	border: 2px solid transparent;
	padding: var(--sm) var(--md);
	cursor: pointer;
	min-width: 125px;
	border-radius: var(--md);
}

.btn__loading {
	padding-right: calc(var(--md) + 20px);
}

.btn__err {
	padding-right: calc(var(--md) + 20px);
}

.btn:disabled {
	cursor: initial;
	background-color: transparent;
	color: gray;
	border: 2px solid gray;
}

.primary {
	color: whitesmoke;
	background-color: #0066cc;
}

.secondary {
	color: whitesmoke;
	background-color: darkslateblue;
}
