:root {
	/* Dark mode*/
	--bg-main: #1c1c1e; /* Fondo Principal */
	--bg-surf: #2c2c2e; /* Superficie */
	--pri: #bb86fc; /* Primario */
	--sec: #03dac6; /* Secundario */
	--t-main: #e0e0e0; /* Texto Principal */
	--t-sec: #c0c0c0; /* Texto Secundario */
	--hl: #ffb300; /* Resaltado */
	--border: #3a3a3c; /* Borde */

	/* Light mode */
	--l-bg-main: #ffffff; /* Fondo Principal */
	--l-bg-surf: #f2f2f2; /* Superficie */
	--l-pri: #6200ee; /* Primario */
	--l-sec: #018786; /* Secundario */
	--l-t-main: #1c1c1e; /* Texto Principal */
	--l-t-sec: #3a3a3c; /* Texto Secundario */
	--l-hl: #ffb300; /* Resaltado */
	--l-border: #d1d1d6; /* Borde */

	/* Common */
	--blue: #0066cc;
	--red: #cd231d;
	--green: #8c9900;
}
