.label {
	--size-state: 20px;
	--p-right: calc(var(--md) + var(--size-state));
	position: relative;
}

.input {
	width: 100%;
	border: 2px solid transparent;
	border-radius: var(--sm);
	padding: var(--sm) var(--md);
	min-height: 32px;
}

.input::placeholder {
	color: lightgray;
}

.input__err {
	border: 2px solid red;
}

.input__state {
	padding-right: var(--p-right);
}
